<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bca.firstproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".MovieRecyclerActivity"
            android:exported="true"
            android:theme="@style/Theme.FirstApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JSONParseActivity"
            android:exported="true"
            android:theme="@style/Theme.FirstApplication">
        </activity>
        <activity
            android:name=".StudentFormActivity"
            android:exported="true"></activity>
        <activity
            android:name=".RecyclerActivity"
            android:exported="true"
            android:theme="@style/Theme.FirstApplication" />
        <activity
            android:name=".CustomGridViewExample"
            android:exported="true"
            android:theme="@style/Theme.FirstApplication" />
        <activity
            android:name=".GridExampleActivity"
            android:exported="true"
            android:theme="@style/Theme.FirstApplication" />
        <activity
            android:name=".CustomListViewExample"
            android:exported="true"
            android:theme="@style/Theme.FirstApplication" />
        <activity
            android:name=".Chapter6Activity"
            android:exported="true"
            android:theme="@style/Theme.FirstApplication" />
        <activity
            android:name=".DialogExample"
            android:exported="true"
            android:theme="@style/Theme.FirstApplication" />
        <activity
            android:name=".FragmentExampleActivity"
            android:exported="true"
            android:theme="@style/Theme.FirstApplication" />
        <activity
            android:name=".ExampleActivity"
            android:exported="true"
            android:theme="@style/Theme.FirstApplication" />
        <activity
            android:name=".SecondActivity"
            android:exported="true"
            android:theme="@style/Theme.AppWithoutActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.AppWithoutActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppWithoutActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" />
    </application>

</manifest>